<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key><string>Random Toggle</string>
    <key>PluginVersion</key><string>1.1.3</string>
    <key>CFBundleIdentifier</key><string>com.heddings.indigo.rtoggle</string>
    <key>ServerApiVersion</key><string>2.0</string>
    <key>CFBundleVersion</key><string>1.0.0</string>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>http://forums.indigodomo.com/viewforum.php?f=229</string>
      </dict>
    </array>
  </dict>
</plist>
